{% extends 'base.html'%}
{% block title %} Wise Ledger {%endblock%}
{% block content %}

{% load staticfiles %}

<script>
	var bg_pic_dict = {};
	var pic_dict = {};
	bg_pic_dict.bg_ground = "{% static 'img/bg_ground.png' %}";
	bg_pic_dict.bg_sky = "{% static 'img/bg_sky.png' %}";
	pic_dict.boss = "{% static 'img/boss_dino.png' %}";
	pic_dict.hero = "{% static 'img/hero_boy.png' %}";
	pic_dict.wpn = "{% static 'img/wpn_chicken.png' %}";

</script>
<link href="{% static 'css/battle.css' %}" rel="stylesheet">
<script src="{% static 'js/battle.js' %}"></script>

<div class="row">
	<div class = "main-layout"></div>
</div>

{%endblock%}
