{% extends 'base.html'%}
{% block title %} Wise Ledger {%endblock%}
{% block content %}

{% load staticfiles %}

<script>
	var tableData = "{{ recordDictList }}";
</script>

<link href="{% static 'css/charge.css' %}" rel="stylesheet">
<script src="{% static 'js/charge.js' %}"></script>



<div class="row">
	<!-- <div class="col-lg-12">
		<h1 class="page-header">Charge</h1>
	</div> -->
	<div class="col-xs-offset-2 col-xs-8 date-block">
		<div class="col-xs-2 date-nav" id="left-date-nav"><</div>
		<!-- <div class="col-xs-8 input-group date" id="datetimepicker">8/21</div> -->
		<input type='text' class="col-xs-8 date form-control" id='datetimepicker'>
		<div class="col-xs-2 date-nav" id="right-date-nav">></div>

	</div>

	<table class="table table-striped" id="charge-table">
		<tr>
			<td>column content</td>
			<td>column content</td>
		</tr>
		<tr class = "danger">
			<td>column content</td>
			<td>column content</td>
		</tr>
		<tr>
			<td>column content</td>
			<td>column content</td>
		</tr>
		<tr class = "danger">
			<td>column content</td>
			<td>column content</td>
		</tr>
		
	</table>
	<div class="col-xs-12 btn-block">
		<div class="plus-btn">+</div>
		<div class="btn-up-block col-xs-12">
			<div class="col-xs-4 main-btn" id="charge-btn">支出</div>
			<div class="col-xs-4 main-btn" id="battle-btn">BOSS</div>
			<div class="col-xs-4 main-btn" id="missions-btn">任務</div>
		</div>
		<div class="btn-down-block col-xs-12">
			<div class="col-xs-4 main-btn" id="income-btn">收入</div>
			<div class="col-xs-4 main-btn" id="statistic-btn">統計</div>
			<div class="col-xs-4 main-btn" id="setting-btn">設定</div>
		</div>
	</div>
</div>

{%endblock%}
