{% extends 'base.html'%}
{% block title %} TaaD {%endblock%}
{% block content %}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Register</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>

<form action="" method="POST">{% csrf_token %}
    {{form.as_p}}

  <input type="submit" value="register" class="btn btn-primary"/>
  <a href="/accounts/login">login</a>

</form>
{%endblock%}

<!--
<div class="field">
            {{ f.account.errors }}
            <label for="id_account">Account:</label>
            {{ f.account }}
        </div>
        <div class="field">
            {{ f.password.errors }}
            <label for="id_password">Password:</label>
            {{ f.password }}
        </div>
        <div class="field">
            {{ f.repassword.errors }}
            <label for="id_repassword">Re-Password:</label>
            {{ f.repassword }}
        </div>
        <div class="field">
            {{ f.email.errors }}
            <label for="id_email">Your e-mail address:</label>
            {{ f.email }}
        </div>
-->