*,
*:after,
*:before {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

*:before, *:after {
	display: table-cell;
	content: '';
}

*:after{
	clear: both;
}

body{ 
	font-family: helvetica, arial, sans-serif;
}

.calculator {
	padding: 10px;
	margin-top: 20px;
	background-color: #ccc;
	border-radius: 5px;
}

.calculator-keys{
	/*padding: 10px;*/
	margin-top: 20px;
	/*background-color: #ccc;*/
	border-radius: 5px;
	/*this is to remove space between divs that are inline-block*/
	font-size: 0;
	width: 100%;
	display: table;
}

.calculator > input[type=text] {
	width: 100%;	
	height: 50px;	
	border: none;
	background-color: #eee;	
	text-align: right;
	font-size: 30px;
	padding-right: 10px;
}

.calculator-keys .cal-row { 
	/*margin-top: 10px;*/
	width: 100%;
}

.calculator-keys .key {
	/*width: 78.7px;*/
	display: inline-block;
	background-color: black;
	color: white;
	font-size: 5rem;
	/*margin-right: 5px;*/
	/*border-radius: 5px;*/
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.calculator-keys .big-key{
	/*width: 157.4px;*/
	display: inline-block;
	background-color: black;
	color: white;
	font-size: 5rem;
	margin-right: 0px;
	/*border-radius: 5px;*/
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.calculator-keys .ok-key{
	/*width: 157.4px;*/
	display: inline-block;
	background-color: red;
	color: white;
	font-size: 5rem;
	margin-right: 0px;
	/*border-radius: 5px;*/
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.calculator-keys .key:hover{
	cursor: pointer;
}

.calculator-keys .big-key:hover{
	cursor: pointer;
}

.key.last{
	margin-right: 0px;
} 

.ok-key.last{
	margin-right: 0px;
	cursor: pointer;
}

.key.action {
	background-color: #646060;
}

.big-key.action{
	background-color: #646060;
}

#Breakfast-btn{
	background-color: #808080;
	color: white;
}