body {
	background-color: "#202020";
}

#background {
 position: absolute;
 width: 100%;
 height: auto;
 top: 0;
 left: 0;
 z-index: 0;
}

#foreground {
 position: absolute;
 width: 100%;
 height: auto;
 top: 20%;
 left: 0;
 z-index: 5;
}

#hero {
 position: absolute;
 right : 0;
 bottom : 0;
 width: 50%;
 height: auto;
 z-index: 15;	
}
#switch {
    width: 30%;
    top: 60%;
    left: 35%;
    z-index: 15;
    position: absolute;
}

#switchBtn {
    width:100%;
    height: 100%;
}

.main {
	position: absolute;
	width:100%;
    height:15%;
    bottom: 0;
    left: 0;
	z-index: 10;
}
